@import url('https://fonts.googleapis.com/css2?family=Days+One&family=Manrope:wght@200..800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Manrope", sans-serif;
    color: #C7D4F4;
    background: url('../images/bg_body.png') ;
    background-color: #010C1B;
    background-size:cover;
}

.container{
    max-width: 1290px;
    margin: 0 auto;
}
.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.section_title{
    text-align: center;
    
    /* h1 */
    font-family: "Days One", serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 128%; /* 51.2px */
    position: relative;
}